@using Core.Domain.Movies
@using Core.Domain.Movies.Models
@inject IMovieService MovieService


@code {

    [Parameter]
    public Action<string> OnItemClicked { get; set; }

    [Parameter]
    public Func<MovieListModel, string> Href { get; set; }
    
    [Parameter]
    public string Class { get; set; }
    
    private Func<MovieListModel, string> NullsafeHref() => Href ?? (m => null);

    private IEnumerable<MovieListModel> _results;
    private bool PopoverOpen => _isOpen;

    private bool _isOpen;
    private string Text { get; set; }

    private async Task Search()
    {
        if (Text.Length > 3)
            _results = await MovieService.SearchList(Text);
        if (_results?.Any() ?? false)
            _isOpen = true;
    }

    private void CheckResults()
    {
        _isOpen = true;
    }

    private void OnItemSelected(string imdbId)
    {
        _isOpen = false;
        _results = null;
        Text = "";
        StateHasChanged();
        OnItemClicked?.Invoke(imdbId);
    }

}

<div style="position: relative">
    <MudOverlay @bind-Visible="@_isOpen" DarkBackground="false" AutoClose="true" ZIndex="100"/>
    <MudTextField
        Margin="Margin.Dense"
        T="string"
        @bind-Value="@Text"
        OnDebounceIntervalElapsed="Search"
        DebounceInterval="1000"
        Immediate="true"
        Placeholder="Search movies..."
        Variant="Variant.Outlined"
        Class="@Class"
        @onfocusin="CheckResults"
        Style="z-index: 101"/>
    <MudPopover Open="@(PopoverOpen)" Direction="Direction.Bottom" OffsetY="true" Style="max-width: 40vw">
        @for (var i = 0; i < _results?.Count(); i++)
        {
            var movie = _results.ToList()[i];
            <MovieSearchItem OnItemSelected="@OnItemSelected" Href="@NullsafeHref()" Content="@movie"/>
            if (i != _results.Count() - 1)
            {
                <MudDivider/>
            }
        }

    </MudPopover>
</div>