@using Notflix.Components.Movie

@code {

    [Parameter]
    public CommentDiscussion.Comment Content { get; set; }

    private string Comment { get; set; }
    private bool commentOpen { get; set; }
    private string contentStyle = "";

    protected void OnCommentPressed(MouseEventArgs mouseEvent)
    {
        commentOpen = !commentOpen;
        if (commentOpen)
        {
            contentStyle = "content__main";
        }
        else
        {
            contentStyle = "";
        }
    }

}

<div class="comment-item">
    <div class="content d-flex">
        <img src="/Images/avatar.png" class="discussionAvatar" alt="user avatar"/>
        <div class="@contentStyle" style="padding-left: 10px; width: 100%">
            <MudText Typo="Typo.body1">@Content.Name</MudText>
            <MudText Typo="Typo.body2">@Content.Contents</MudText>
            <div class="d-flex" style="font-size: 18px;">
                <div class="discussionIcon" id="discussion__voteUp">
                    <p>&#129145;</p>
                </div>
                <p class="discussionIcon__text" style="margin-left: 5px">12k</p>
                <div class="discussionIcon" id="discussion__voteDown" style="margin-left: 5px">
                    <p>&#129147;</p>
                </div>
                <div @onmouseup="@OnCommentPressed" class="discussionIcon" id="discussion__commentIcon" style="margin-left: 5px">
                    <p>&#128490; </p>
                    <p class="discussionIcon__text" style="padding-left: 3px">Reply</p>
                </div>
            </div>
            @if (commentOpen)
            {
                <div class="commentSection d-flex">
                    <MudTextField class="discussionComment" @bind-Value="Comment" Label="Comment as **name**" Placeholder="Comment..."/>
                    <MudButton Style="height: fit-content; margin-top: auto">Reply</MudButton>
                </div>
            }
        </div>
    </div>

    @if (Content.Children != null && Content.Children.Any())
    {
        <div class="comment-item-children">
            @foreach (var child in Content.Children)
            {
                <CommentItem Content="@child"></CommentItem>
            }
        </div>
    }


</div>