@page "/{id}"
@using Notflix.Components.Movie
@inject IJSRuntime JS
@inject IMovieService MovieService

@code {
    [Parameter] 
    public string Id { get; set; }
    
    private MovieModel _movieModel;
    
    protected override async Task OnParametersSetAsync()
    {
        _movieModel = await MovieService.GetMovieDetails(Id);
    }
    
    private int GetRating(MovieModel movieModel)
    {
        var value = movieModel.Ratings.First().Value;
        var rating = value.Substring(0, value.IndexOf("/", StringComparison.Ordinal)).Trim();
        return (int) Math.Round(float.Parse(rating) / 2);
    }

    private bool _rendered;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _rendered = true;
            StateHasChanged();
        }
    }

}

@if (_movieModel != null)
{
    <Card>
        <div style="position: relative">
            <figure class="movieFigure"><img class="movieFigure__clip" src="@(_movieModel.ImageUrl)"/></figure> 
            <MudText Typo="Typo.h3"  Style="position: absolute; bottom: 0; color: white; font-weight: bold; padding: 15px">@_movieModel.Title</MudText>
        </div>
        
        <MudGrid Style="margin-bottom: 20px;">
            <MudItem sm="8" lg="8">
                <MudText Typo="Typo.body2">@_movieModel.Plot</MudText>
            </MudItem>
            <MudItem sm="4" lg="4" Class="white">
                <MudRating ReadOnly="true" Size="Size.Medium" SelectedValue="GetRating(_movieModel)"/>
                <MudText Typo="Typo.body2">Genre: @_movieModel.Genres.First()</MudText>
                <MudText Typo="Typo.body2">Actors: @string.Join(",", _movieModel.Actors)</MudText>

            </MudItem>
        </MudGrid>

        @if (_rendered)
        {
            <MudTabs Elevation="1" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                <MudTabPanel Text="Comments" ToolTip="ToolTip One" Class="mud-tabs-panels pa-2">
                    <CommentsDiscussion MovieId="@_movieModel.Id"/>
                </MudTabPanel>
                <MudTabPanel Text="Reviews" ToolTip="ToolTip Two">
                    <ReviewsDiscussion MovieId="@_movieModel.Id"/>
                </MudTabPanel>
                <MudTabPanel Text="Fun Facts" ToolTip="ToolTip Three">
                    <FunFactsDiscussion MovieId="@_movieModel.Id"/>
                </MudTabPanel>
            </MudTabs>
        }
    </Card>
}
